* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    background: linear-gradient(rgb(0, 0, 52), rgb(85, 163, 189), rgb(0, 0, 52));
    height: 80vh;
}

header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

/* Styles for <ul> containing score, heading and restart button  */
.header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    display: inline-flex;
}

.header-buttons {
    text-align: right;
}

h1 {
    color: rgb(0, 0, 52);
    text-shadow: 2px 2px 3px rgb(235, 235, 255);
}

/* Styles for score and restart button */
.score-label,
.restart,
.help {
    line-height: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: rgb(0, 0, 52);
    color: white;
}

.restart:hover,
.help:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px 3px aliceblue;
    cursor: pointer;
}

/* Styles for game area */
.cards-grid {
    height: 100%;
    width: 90%;
    margin: auto;
    /* margin-bottom: 0; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

#instructions {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 52, 0.95);
    color: white;
    z-index: 2;
}

.exit-instructions {
    line-height: 2rem;
    width: 2rem;
    vertical-align: middle;
    position: absolute;
    padding: 0;
    top: 1rem;
    right: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(0, 0, 52);
    cursor: pointer;
}

.instructions-title {
    padding: 2rem;
    text-align: center;
}

#instructions ul {
    position: relative;
    width: 80%;
    list-style-type: none;
}

#instructions ul li {
    width: 80%;
    margin: 2rem auto;
}

#start-button,
.start-countdown,
.losing-message,
#retry-button {
    height: 8rem;
    padding: 1rem;
    background-color: white;
    color: rgb(0, 0, 52);
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    border: 2px solid rgb(0, 0, 52);
    border-radius: 50%;
    font-size: 2rem;
}

.losing-message {
    line-height: 5rem;
    width: 90%;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
}

.start-countdown {
    line-height: 5rem;
    width: 8rem;
    text-align: center;
    vertical-align: middle;
}

#start-button:hover,
#retry-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 52);
    cursor: pointer;
}

.card {
    height: 170px;
    width: 120px;
    position: relative;
    object-fit: cover;
    margin: 0.25rem;
    border: 2px solid white;
    box-shadow: 2px 2px 3px pink;
    border-radius: 1rem;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card:active {
    transform: scale(0.98);
    transition: 0.5s;
}

.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    background: aliceblue;
    border-radius: 1rem;
    backface-visibility: hidden;
}

.card-back {
    object-fit: cover;
}

.card-front,
.card.flip {
    transform: rotateY(180deg);
}

/* Media Queries */

@media only screen and (min-width: 1201px) {

    header {
        height: 10vh;
    }

    /* .header {
        width: 70%;
    } */

    .cards-grid {
        margin: 2rem auto;
        width: 70%;
    }

    .card {
        height: 170px;
        width: 120px;
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 1200px) {
    .cards-grid {
        margin: 2rem auto;
    }

    .card {
        height: 200px;
        width: 150px;
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 1020px) {

    /* .header {
        width: 99%;
    } */

    .cards-grid {
        margin: 1rem auto;
    }

    .card {
        height: 170px;
        width: 120px;
    }
}

@media only screen and (max-width: 767px) {

    .cards-grid {
        margin: 3rem auto;
    }

    .card {
        height: 150px;
        width: 100px;
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 679px) {
    h1 {
        font-size: 1rem;
    }

    /* Styles for score and restart button */
    .score-label,
    .restart,
    .help {
        font-size: 1rem;
        line-height: 0.5rem;
        padding: 0.5rem;
    }

    .cards-grid {
        width: 100%;
    }

    .card {
        height: 160px;
        width: 110px;
        margin: 0.15rem;
    }
}

@media only screen and (max-width: 480px) {

    header {
        height: 6rem;
    }

    /* .header {
        width: 90%;
    } */

    .header h1 {
        display: none;
    }

    .header i {
        font-size: 2rem;
    }

    .card {
        height: 120px;
        width: 70px;
    }
}

@media only screen and (max-width: 391px) {

    .cards-grid {
        margin: 0 auto;
    }

    .card {
        height: 110px;
        width: 60px;
    }
}