* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    background: linear-gradient(rgb(0, 0, 52), rgb(85, 163, 189), lightpink, rgb(0, 0, 52));
    overflow: hidden;
    min-height: 100vh;
}

header {
    height: min-content;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

/* Styles for <ul> containing timer, heading, help and restart button  */
.header {
    height: min-content;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    display: flex;
}

.score-and-timer,
.header-buttons {
    display: flex;
    flex-direction: row;
    height: min-content;
}

.header-buttons {
    text-align: right;
}

h1 {
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 52);
}

/* Styles for timer, help and restart button */
.timer,
.score,
.difficulty-label,
.restart,
.help,
.scoreboard,
.easy,
.normal,
.hard {
    line-height: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: white;
    color: rgb(0, 0, 52);
}

/* .difficulty-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px solid red;
} */

.easy,
.normal,
.hard {
    position: relative;
    height: 5rem;
    width: 10rem;
    align-items: center;
    margin: 0 1rem;
    background-color: rgb(0, 0, 52);
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 52);
    border: 1px solid white;
}

.restart {
    visibility: hidden;
}

.no-display {
    display: none;
}

/* .help {
    margin-left: 0.35rem;
} */

/* .timer {
    margin-right: 0.35rem;
} */

#start-button:hover,
#retry-button:hover,
.scoreboard:hover,
.restart:hover,
.help:hover,
.easy:hover,
.normal:hover,
.hard:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 52);
    cursor: pointer;
}

.easy:hover,
.normal:hover,
.hard:hover {
    box-shadow: 2px 2px 3px 3px white;
}

/* Styles for game area */
.cards-grid {
    height: min-content;
    width: min-content;
    margin: auto;
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    column-count: 8;
    column-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    /* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    /*creates 3D effect with code indicated in '.card' style */
    perspective: 1000px;
}

.easy-cards-grid {
    height: min-content;
    width: min-content;
    margin: auto;
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    column-count: 4;
    column-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap;
        justify-content: center;
        align-items: center; */
    /* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    /*creates 3D effect with code indicated in '.card' style */
    perspective: 1000px;
}

.normal-cards-grid {
    height: min-content;
    width: min-content;
    margin: auto;
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    column-count: 4;
    column-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    /* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    /*creates 3D effect with code indicated in '.card' style */
    perspective: 1000px;
}

#cat-animation {
    height: 4.5rem;
    width: 6.5rem;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -2;
    transform: rotateY(180deg);
}

.moving-cat {
    animation-name: moving-cat;
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25);
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes moving-cat {
    0% {
        margin-left: -10%;
    }

    100% {
        margin-left: 100%;
    }
}

.cat-instructions {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15rem;
    width: 22.5rem;
}

#instructions,
.scoreboard-display {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 52), rgb(85, 163, 189), rgb(0, 0, 52));
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 52);
    z-index: 2;
}

.exit-instructions,
.exit-scoreboard {
    line-height: 2rem;
    width: 2rem;
    vertical-align: middle;
    position: absolute;
    padding: 0;
    top: 1rem;
    right: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(0, 0, 52);
    cursor: pointer;
}

.instructions-title,
.scoreboard-display h2 {
    padding: 2rem;
    text-align: center;
}

#instructions ul,
.scoreboard-display ul {
    position: relative;
    width: 80%;
    list-style-type: none;
}

#instructions ul li,
.scoreboard-display ul li {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.5rem;
}

#start-button,
.start-countdown,
#retry-button,
.difficulty-container {
    height: min-content;
    width: min-content;
    padding: 1rem;
    background-color: white;
    color: rgb(0, 0, 52);
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 2px solid rgb(0, 0, 52);
    border-radius: 1rem;
    font-size: 2rem;
}

.winning-message,
.losing-message {
    height: min-content;
    padding: 1rem;
    background-color: white;
    color: rgb(0, 0, 52);
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 2px solid rgb(0, 0, 52);
    border-radius: 50%;
    font-size: 2rem;
}

#retry-button {
    width: min-content;
    border-radius: 1rem;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    border: none;
}

.start-countdown {
    border-radius: 50%;
}

.difficulty-container button {
    margin: 0.6rem 0;
}

#retry-button {
    z-index: 2;
    position: relative;
    margin: auto;
    padding: 1rem;
    border: none;
    justify-content: center;
    align-items: flex-end;
}

.losing-message,
.winning-message {
    /* height: max-content;
    width: max-content; */
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(0, 0, 52);
    border: 2px solid white;
    color: white;
}

.losing-message p,
.winning-message p {
    padding-bottom: 2rem;
}

.start-countdown {
    line-height: 5rem;
    width: 8rem;
    text-align: center;
    vertical-align: middle;
}

.card {
    height: 170px;
    width: 120px;
    margin: 0.1rem;
    position: relative;
    object-fit: cover;
    /* margin: 0.25rem; */
    border: 1px solid rgb(0, 0, 52);
    box-shadow: 2px 2px 3px rgb(0, 0, 52);
    border-radius: 1rem;
    /* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL AND CUSTOMISED: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    /*creates 3D effect with code indicated in '.cards-grid' style */
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
}

/* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL AND CUSTOMISED: https://www.youtube.com/watch?v=ZniVgo8U7ek */
.card:active {
    transform: scale(0.98);
    transition: 0.5s;
}

/* THE POSITION AND BACKFACE-VISIBILITY CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL AND CUSTOMISED: https://www.youtube.com/watch?v=ZniVgo8U7ek */
.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    background: aliceblue;
    border-radius: 1rem;
    backface-visibility: hidden;
}

.card-back {
    object-fit: cover;
}

/* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL: https://www.youtube.com/watch?v=ZniVgo8U7ek */
.card-front,
.card.flip {
    transform: rotateY(180deg);
}

/* Media Queries */

@media only screen and (min-width: 1201px) {

    /* header {
        height: 10vh;
    } */

    /* .header {
        width: 70%;
    } */

    .normal-cards-grid {
        column-count: 8;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .card {
        height: 160px;
        width: 110px;
        /* margin: 0.25rem; */
    }
}

@media only screen and (max-width: 1200px) {

    .card {
        height: 160px;
        width: 110px;
        /* margin: 0.25rem; */
    }
}

@media only screen and (max-width: 1020px) {

    header {
        padding-top: 0;
    }

    .score-and-timer,
    .header-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cat-instructions {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 9rem;
        width: 13rem;
    }

    .cards-grid {
        column-count: 6;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .easy-cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .normal-cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        height: 150px;
        width: 100px;
    }
}

@media only screen and (max-width: 767px) {

    header {
        padding-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    .timer,
    .score,
    .difficulty-label,
    .restart,
    .help,
    .scoreboard {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .easy-cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .normal-cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        height: 130px;
        width: 90px;
        /* margin: 0.25rem; */
    }

    #cat-animation {
        display: none;
    }
}

@media only screen and (max-width: 679px) {
    h1 {
        font-size: 1rem;
    }

    /* Styles for timer, help and restart button */
    .timer,
    .score,
    .difficulty-label,
    .restart,
    .help,
    .scoreboard {
        font-size: 0.8rem;
        line-height: 0.5rem;
        padding: 0.5rem;
    }

    .cat-instructions {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 6rem;
        width: 9rem;
    }

    .cards-grid {
        column-count: 6;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .easy-cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .normal-cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        height: 120px;
        width: 70px;
        /* margin: 0.15rem; */
    }
}

@media only screen and (max-width: 480px) {

    /* .header {
        width: 90%;
    } */

    .header h1 {
        display: none;
    }

    .header i {
        font-size: 2rem;
    }

    .instructions-title {
        font-size: 1.2rem;
    }

    #instructions ul li {
        font-size: 0.8rem;
    }

    .cards-grid {
        column-count: 4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        height: 110px;
        width: 80px;
        /* width: 60px; */
    }

    .timer,
    .score,
    .difficulty-label {
        margin: 0.6rem;
    }
}

@media only screen and (max-width: 391px) {

    .timer,
    .score,
    .difficulty-label,
    .restart,
    .help,
    .scoreboard {
        font-size: 0.5rem;
    }

    .cat-instructions {
        display: none;
    }

    .card {
        height: 80px;
        width: 70px;
        /* width: 60px; */
    }
}