* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    background: linear-gradient(rgb(0, 0, 52), rgb(85, 163, 189), lightpink, rgb(0, 0, 52));
    overflow: hidden;
}

header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

/* Styles for <ul> containing timer, heading, help and restart button  */
.header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    display: flex;
}

.score-and-timer,
.header-buttons {
    display: flex;
    flex-direction: row;
}

.header-buttons {
    text-align: right;
}

h1 {
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 52);
}

/* Styles for timer, help and restart button */
.timer,
.score,
.restart,
.help {
    line-height: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: white;
    color: rgb(0, 0, 52);
}

.help {
    margin-left: 0.35rem;
}

.timer {
    margin-right: 0.35rem;
}

.restart:hover,
.help:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 52);
    cursor: pointer;
}

/* Styles for game area */
.cards-grid {
    height: min-content;
    width: 90%;
    margin: auto;
    /* margin-bottom: 0; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    /*creates 3D effect with code indicated in '.card' style */
    perspective: 1000px;
}

#cat-animation {
    height: 4.5rem;
    width: 6.5rem;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -2;
    transform: rotateY(180deg);
}

.moving-cat {
    animation-name: moving-cat;
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25);
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes moving-cat {
    0% {
        margin-left: -10%;
    }

    100% {
        margin-left: 100%;
    }
}

#instructions {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 52);
    color: white;
    z-index: 2;
}

.exit-instructions {
    line-height: 2rem;
    width: 2rem;
    vertical-align: middle;
    position: absolute;
    padding: 0;
    top: 1rem;
    right: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(0, 0, 52);
    cursor: pointer;
}

.instructions-title {
    padding: 2rem;
    text-align: center;
}

#instructions ul {
    position: relative;
    width: 80%;
    list-style-type: none;
}

#instructions ul li {
    width: 80%;
    margin: 2rem auto;
}

#start-button,
.start-countdown,
.losing-message,
.winning-message,
#retry-button {
    height: 8rem;
    padding: 1rem;
    background-color: white;
    color: rgb(0, 0, 52);
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    border: 2px solid rgb(0, 0, 52);
    border-radius: 50%;
    font-size: 2rem;
}

.losing-message,
.winning-message {
    line-height: 5rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.start-countdown {
    line-height: 5rem;
    width: 8rem;
    text-align: center;
    vertical-align: middle;
}

#start-button:hover,
#retry-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 52);
    cursor: pointer;
}

.card {
    height: 170px;
    width: 120px;
    position: relative;
    object-fit: cover;
    margin: 0.25rem;
    border: 1px solid rgb(0, 0, 52);
    box-shadow: 2px 2px 3px rgb(0, 0, 52);
    border-radius: 1rem;
    /* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL AND CUSTOMISED: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    /*creates 3D effect with code indicated in '.cards-grid' style */
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
}

/* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL AND CUSTOMISED: https://www.youtube.com/watch?v=ZniVgo8U7ek */
.card:active {
    transform: scale(0.98);
    transition: 0.5s;
}

/* THE POSITION AND BACKFACE-VISIBILITY CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL AND CUSTOMISED: https://www.youtube.com/watch?v=ZniVgo8U7ek */
.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    background: aliceblue;
    border-radius: 1rem;
    backface-visibility: hidden;
}

.card-back {
    object-fit: cover;
}

/* THE CODE BELOW WAS SOURCED FROM A FREECODECAMP TUTORIAL: https://www.youtube.com/watch?v=ZniVgo8U7ek */
.card-front,
.card.flip {
    transform: rotateY(180deg);
}

/* Media Queries */

@media only screen and (min-width: 1201px) {

    header {
        height: 10vh;
    }

    /* .header {
        width: 70%;
    } */

    .cards-grid {
        margin: 2rem auto;
        width: 70%;
    }

    .card {
        height: 170px;
        width: 120px;
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 1200px) {
    .cards-grid {
        margin: 2rem auto;
    }

    .card {
        height: 195px;
        width: 145px;
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 1020px) {

    /* .header {
        width: 99%;
    } */

    .cards-grid {
        margin: 1rem auto;
    }

    .card {
        height: 160px;
        width: 110px;
    }
}

@media only screen and (max-width: 767px) {

    .cards-grid {
        margin: 3rem auto;
    }

    .card {
        height: 150px;
        width: 100px;
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 679px) {
    h1 {
        font-size: 1rem;
    }

    /* Styles for timer, help and restart button */
    .timer,
    .score,
    .restart,
    .help {
        font-size: 0.8rem;
        line-height: 0.5rem;
        padding: 0.5rem;
    }

    .cards-grid {
        width: 100%;
    }

    .card {
        height: 140px;
        width: 90px;
        margin: 0.15rem;
    }
}

@media only screen and (max-width: 480px) {

    /* .header {
        width: 90%;
    } */

    .header h1 {
        display: none;
    }

    .header i {
        font-size: 2rem;
    }

    .instructions-title {
        font-size: 1.2rem;
    }

    #instructions ul li {
        font-size: 0.8rem;
    }

    .card {
        height: 120px;
        width: 70px;
    }
}

@media only screen and (max-width: 391px) {

    header {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    .score-and-timer,
    .header-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .score-and-timer,
    .header-buttons {
        margin: 0;
        padding: 0;
    }

    .timer,
    .score,
    .restart,
    .help {
        line-height: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.1rem 0;
    }

    .cards-grid {
        margin: 0 auto;
    }

    .card {
        height: 100px;
        width: 60px;
    }
}